[2016-11-09 10:51] Jasbir23 opened #2 "Sample project required to understand"
What is static library?
Mentioning the specific files to be added would make it a lot easier to use the package.

[2016-11-10 00:18] alexkendall commented on #2
@Jasbir23 Looking into this right now. I haven't been able to touch the library in a while due to how busy I am but i'll make sure to get everything working and easy to use by next week.

[2016-11-10 06:13] Jasbir23 commented on #2
@alexkendall please update the readme too with the manual installation steps. Great help. Thank you!!

[2016-11-21 06:59] Jasbir23 commented on #2
Thanks @alexkendall. The library works now. Great job with it!! Closing this issue with this :)

[2016-11-21 06:59] #2 closed

[2016-11-30 07:31] Jasbir23 opened #4 "IOS project wont run after npm support"
Hey alex,
I installed the library via nmp. The android project works fine. Having trouble with the ios part. Having completed all the installation steps, the app does not run with following error. Hoping for a quick fix on this :)

![screen shot 2016-11-29 at 7 39 29 pm](https://cloud.githubusercontent.com/assets/22442136/20743496/c1805004-b6fc-11e6-9083-f44f731ef1a2.png)

Also this is what my Xco

[2016-11-30 14:32] alexkendall commented on #4
Hey Jasbir,

Thanks for letting me know!. I'll take a look tonight and get this issue
resolved.

Best,
Alex

*Alex Harrison*
Phone*  616-648-2833*
Email   *alex@alexkharrison.com <alex@alexkharrison.com>*
Web     alexkharrison.com

On Wed, Nov 30, 2016 at 2:31 AM, Jasbir23 <notifications@github.com> wrote:

[2016-12-05 19:37] alexkendall commented on #4
@Jasbir23 Sorry about not getting to this sooner but I've been absolutely swamped at work. I should be able to get to it sometime this week. We're you able to find a work around to the issue?

[2016-12-06 09:17] Jasbir23 commented on #4
@alexkendall No, I have been using the previous version of this library. Great to hear though  :)

[2016-12-19 07:40] Jasbir23 commented on #4
Hey @alexkendall,
 Hope things are better at work :) ,
Any chance you found the problem here?

[2016-12-28 02:05] alexkendall commented on #4
@Jasbir23 Taking a look tonight.

[2016-12-28 12:27] Jasbir23 commented on #4
@alexkendall Great 👍

[2016-12-29 01:42] alexkendall commented on #4
@Jasbir23 Just released a new version with an updated README but haven't had much time to test, so use with caution.

[2017-01-09 06:35] jongmin92 opened #5 "Help me install..."
I found 'react-native-bluetooth-cross-platform' when searching for Bluetooth advertise function.
I'm having trouble installing react-native-bluetooth-cross-platform.

(1) Installation (iOS)
I would really appreciate if you could attach **screenshots** for steps 3, 4, 5, and 6.
(2) Installation (Android)
I tried the manual but got a **'can not find symbol' Error.**

My react-native-cli: 2.0.1

[2017-01-10 00:53] HongSeokHwan commented on #5
me too...

[2017-01-12 13:22] Jasbir23 commented on #5
@kdhx92 you are using wifi to connect ios and android devices?

[2017-01-13 00:06] kdhx92 commented on #5
@Jasbir23 I followed the manual, but I can not build Android.

[2017-01-13 22:14] alexkendall commented on #5
@kdhx92 @HongSeokHwan Ill take a look this weekend

[2017-01-19 15:36] alexkendall commented on #5
@jongmin92 Can you try installing for Android with the new instructions?

[2017-01-29 09:31] jongmin92 commented on #5
@alexkendall I'm sorry for late reply. Thank you. Solved!

[2017-02-28 17:28] iotashan commented on #4
I fixed the readme and sent a PR.

[2017-03-01 10:06] virl opened #8 "Underdark feedback for developers of React bindings"
Greetings!
My nickname is Virl and I'm author of Underdark libraries.

Feel free to ask me here any questions about project or give feedback and proposals regarding React interoperability from native side. You can also do it in Issues of Underdark repositories on GitHub, if you feel it will be more appropriate that way.

Wish all the best for your bindings project!

[2017-03-03 15:31] alexkendall commented on #5
Closing this after integration of #6 and #7.

[2017-03-03 15:31] #5 closed

[2017-03-03 15:32] alexkendall commented on #4
@iotashan Thanks. Closing this after #7.

[2017-03-03 15:32] #4 closed

[2017-03-06 13:46] Unforgiven-wanda opened #9 "Issue on RN 0.42.0"
Hello,
after following the install procedure for Android, I get the following error:
![sa](https://cloud.githubusercontent.com/assets/4499783/23612395/9c479ea8-027b-11e7-9dc4-f90167a43b2b.png)

The only notable thing is inside my `build.gradle` file, which is configured like so:
[code]

Does the issue stem from RN 0.42, or is it something else?
Thank you.

[2017-03-06 14:01] Unforgiven-wanda commented on #9
Okay, I must be really tired because I haven't even bothered to read the error, which is that there is no Bluetooth device since i'm on an emulator. Sorry :/
Closing and going home...

[2017-03-06 14:01] #9 closed

[2017-03-06 14:06] virl commented on #9
@Unforgiven-wanda Thanks for bug report anyway, although it is probably issue of my native library ([https://github.com/udark/underdark-android/]), not these React bindings.
It's already in the plans to not crash the app when you create the bluetooth transport on device without Bluetooth support. :)

[2017-03-10 06:44] ourapolloproject opened #10 "run-android fails after install"
Hi Alex! Thanks so much for creating this library and underdark. Looks perfect for my application. I'm having some trouble getting it installed. Followed the instructions in readme but getting this error targeting Android 5.1

WifiTest me$ react-native -v
react-native-cli: 2.0.1
react-native: 0.42.0

:app:compileDebugJavaWithJavac - is not incremental (e.g. outputs have changed, no previous execut

[2017-03-12 15:03] Unforgiven-wanda opened #11 "Crash on Android 4.4"
Hello again,
Last week, I tried using your library on my old phone with Android 4.4, and it worked well. The messages were being sent back and forth between multiple devices, some on 5.0, the others on 6.0. So I put it away and continued working on something else.

Imagine my surprise this morning when I tried it again and the app would simply crash, My first though was to revert back to last week

[2017-03-15 16:58] alexkendall commented on #10
@ourapolloproject  I'll take a look sometime today and see if I can resolve this issue.

[2017-03-17 03:39] ourapolloproject commented on #10
Thanks @alexkendall

[2017-03-20 20:59] alexkendall commented on #11
@Unforgiven-wanda
Going to take a look at this. I believe I constructed the framework such that a user automatically disconnects from  a peer if the peer is lost and so I think the error may be there from a quick glance, but the code shouldn't crash because of that. I'll take a deeper look tonight.

[2017-03-21 09:07] Unforgiven-wanda commented on #11
Hello,
I totally forgot I had created this issue. The crash in fact originated from the fact that either `addInviteListener` or `addPeerDetectedListener` would sometimes be triggered with a null or undefined user argument. All I had to do was check the typeof first.
But strangely enough, the crash would only occur on my 4.4 device. Adding the check solved it, but I'm not clear how.
Closing this is

[2017-03-21 09:07] #11 closed

[2017-03-24 02:56] baiej214 commented on #10
@alexkendall Has the problem been solved?

[2017-05-02 18:40] Emilios1995 opened #12 "how to remove EventListener"
Is it possible to remove event listeners?

[2017-05-05 21:03] alexkendall commented on #12
@Emilios1995 Will add this feature.

[2017-05-05 22:26] alexkendall commented on #12
@Emilios1995
My latest commit a3a11a5d1f339640bba639ce5f70198640635b65 should make the listeners removable. I'll update the readme with directions how to.

[2017-05-09 03:41] x5c commented on #2
@Jasbir23 can you share how it work ?

[2017-05-09 03:48] x5c opened #13 "Posibility to develop apps"
Can this library to work connection between android devices ? to send data string or json ? like bluetooth chat ?

Thanks

[2017-05-10 19:55] #12 closed

[2017-05-11 08:49] virl opened #14 "Unique AppId for each app"
Hello!
One of the users told me that in React bindings it is impossible to set AppId during configuration — although in native libraries it is possible.

Unique AppId allows discovery and communication to be isolated and non-interfering between different apps from different developers that use same library.

[2017-05-18 19:36] alexkendall commented on #13
@x5c Yes. Given you know the peer id, sendMessage(message: string, peerId: string) will send a string to that device. However you encode that string is up to you.

[2017-05-20 18:53] priyankark commented on #10
@alexkendall I am facing the same problem. I am a beginner. What's the solution, if any? Thank you.

[2017-05-22 20:34] Emilios1995 commented on #12
Thanks!

[2017-05-22 21:02] Emilios1995 commented on #10
This is happening to me as well.
Pinging @virl, do you have any idea why this is happening?

[2017-05-23 06:41] virl commented on #10
@Emilios1995 Hi. No, I'm currently completely unfamiliar with React build mechanics.

[2017-06-12 18:56] CaptAhak commented on #10
Been having the same problem. In the android installation guide it states:

so what I did at first was:
[code]
but when you change it to:
[code]
run-android works! I am currently at react native version 0.45.

[2017-06-12 19:13] Emilios1995 commented on #14
I've added this feature in iOS. Will do it in Android later and submit a PR.

[2017-06-13 06:00] virl commented on #14
@Emilios1995 Great!

[2017-06-14 01:02] Emilios1995 commented on #10
I can confirm it works now with @CaptAhak's solution.

[2017-06-14 01:03] Emilios1995 opened #15 "Question: Where does the device's id come from?"
Is it possible to know in advance what is the device Id?

[2017-06-14 01:04] Emilios1995 commented on #15
cc @virl

[2017-06-18 12:58] biks152207 opened #16 "how do i get local bluetooth address?"

[2017-06-19 07:38] GayathriAgriya opened #17 "Can you explain work flow?"
it would be better if you give any sample project. it seems confusing.

[2017-07-26 19:55] jamesbursa opened #18 "License details missing"
I can't find any details of the license for this repository. Is it open source and can a license be added please? https://help.github.com/articles/licensing-a-repository/

[2017-08-03 15:24] jamesbursa commented on #18
Here is a one possibility as a patch which adds an MIT license. Based on the git log, it would need agreement from @alexkendall, @thibmaek, and @iotashan. Thanks for considering it!

[code]

[2017-08-07 14:22] alexkendall commented on #18
@jamesbursa  I think we can go ahead and do this, but we will have to somehow add @virl

[2017-08-07 14:49] virl commented on #18
@alexkendall Hello. As I understand, this is license for the bindings, not for the native library.
So I guess because I haven't wrote code for the bindings yet, there is no need to add me currently.

But because native library is separate commercial product, I think it will be good for the users to know that when reading your license or readme (so they will not confuse terms for the bindings and f

[2017-08-23 00:49] Younanator opened #19 "DO we need to import anything? How do I use this?"
[code]

Anything wrong with that? It doesn't work on the EXPO App.
When the Button is pressed, it returns the error
`Undefined is not an object(evaluating "NativeManager.advertise")`

[2017-09-07 10:46] sumesh1993 opened #21 "Example Project required"
@alexkendall

The readme doesn't really explain, how to use the project ?
Could you please add an example project

[2017-09-13 05:26] sairamaraov commented on #21
@sumesh1993  were you able to install the module successfully? if so please let me know the steps. I tried as instructed in the readme, but getting this error when I try to run my app.
" :react-native-bluetooth-cross-platform:compileReleaseJavaWithJavac - is not incremental (e.g. outputs have changed, no previous execution, etc.).
C:\projects\AwesomeProject\node_modules\react-native-bluetooth-cros

[2017-10-04 17:02] vimalathiyagu opened #22 "BT advertise and browse not working, WIFI only works."
I am using this library to exchange data when wifi is not available and only bluetooth is available. But when wifi is off and only bluetooth is on. the devices are not discovering each other and connecting. It works only when wifi is on.

I am using
BluetoothCP.advertise("BT")
BluetoothCP.browse("BT")

Kindly let me know if some configuration is required to make it work only with bluetooth.

[2017-10-04 17:24] virl commented on #22
@vimalathiyagu Hello. If you're using iOS 11, it have problems with Bluetooth connectivity.
I filed bugreport with Apple and hopefully it will be fixed in next update of either library or iOS 11.

[2017-10-05 13:03] vimalathiyagu commented on #22
@virl Hello. I am testing between IOS 10.2 and android 6 on Nexus. I have tested with  BluetoothCP.advertise("BT"), BluetoothCP.browse("BT") with Bluetooth OFF and WIFI ON, it works fine. But with Bluetooth ON and WIFI OFF it does not discover.

[2017-10-06 19:15] virl commented on #22
@vimalathiyagu Bluetooth communication between iOS and Android is not supported due to mobile OS limitations.

[2017-10-09 17:53] vimalathiyagu commented on #22
@virl Thank you for the response. Do you plan to provide support between IOS and android in the future.

[2017-10-29 19:06] harm-an commented on #19
Same issue

[2017-11-02 09:41] vimalathiyagu opened #23 "Compilation Fails for RN 48 - Execution failed for task ':react-native-bluetooth-cross-platform:compileReleaseJavaWithJavac'."
RN Version - 0.48.4
The android fails to run with the below error.

/node_modules/react-native-bluetooth-cross-platform/android/src/main/java/com/rctunderdark/NetworkManagerPackage.java:25: error: method does not override or implement a method from a supertype
    @Override
    ^
1 error
:react-native-bluetooth-cross-platform:compileReleaseJavaWithJavac FAILED

FAILURE: Build failed with an except

[2017-11-15 09:16] bqkhiem96 commented on #17
@alexkendall

[2017-11-17 02:40] earlvanze opened #24 "undefined is not a constructor"
new _reactNative.NativeModules.NetworkManager() is not a constructor, and NativeModules.NetworkManager is not an object. Am I missing something? I am able to import your plugin/module properly and initialize the NetworkManager class, then call the BluetoothCP.advertise("WIFI") function which calls NativeManager.advertise(kind) but NativeManager.advertise is undefined, because NativeModules.Network

[2017-11-17 03:25] earlvanze commented on #24
I figured it out, it's because of Expo. I need to detach from Expo and build the project into native Android/iOS before installing this native module.

[2017-11-17 04:21] #24 closed

[2017-11-17 08:16] earlvanze commented on #19
In HomeScreen.js:
...
  render() {
    return (

      <View style={styles.container}>
        <ScrollView style={styles.container} contentContainerStyle={styles.contentContainer}>
        <Button
          onPress={() => { BluetoothCP.advertise('WIFI-BT'); }}
          title={"Connect to Device"}
        />

[2017-12-01 14:43] vinhtran1995 opened #25 "cannot npm install --save react-native-bluetooth-cross-platform"
I cannot install "npm install --save react-native-bluetooth-cross-platform" in terminal

[2017-12-02 10:01] tngan commented on #25
@vinhtran1995 I can do the package installation through `yarn add react-native-bluetooth-cross-platform`. Would you like to show what were the errors you encountered ?

[2017-12-06 02:37] bqkhiem96 commented on #23
Stumbled on the same issue, @alexkendall  please resolve

[2017-12-12 03:39] mackenziemance opened #26 "'React/RCTEventEmitter.h' file not found"
"react-native": "0.48.0"

I'm getting a ref error with my Bridge.h file. Had a previous bridging header that I deleted before trying to integrate but when I added the files, Xcode didn't give me the create bridging header dialog.

Anyone els experience this??

[2017-12-13 04:30] #26 closed

[2017-12-22 06:22] #13 closed

[2018-01-01 13:22] FlorianGerhardt commented on #23
The fix was merged in #20 but probably not yet published

[2018-01-01 13:35] bqkhiem96 commented on #23
How may I install via the #20 branch that you just showed? @FlorianGerhardt

[2018-01-01 14:02] FlorianGerhardt commented on #23
As the branch is already in the master, you should just be able to use the repo in your package.json as shown here: https://docs.npmjs.com/files/package.json#git-urls-as-dependencies

[2018-01-01 14:52] bqkhiem96 commented on #23
I got the above problem solved by adding the dependencies as the following
![image](https://user-images.githubusercontent.com/17524678/34468542-d3c21c46-ef3d-11e7-9fe7-a85e12e994d0.png)
Thank you @FlorianGerhardt
and of course, a new wild bug appears, should I raise another issue?

[2018-01-01 15:12] bqkhiem96 opened #27 ""Attempt to invoke virtual method 'java.lang.String android.bluetooth.Bluetooth.Adapter.getName()""
How may the issue got resolved?
![image](https://user-images.githubusercontent.com/17524678/34468679-bb69aabc-ef40-11e7-8319-d2fad5ce856f.png)

[2018-01-07 23:35] butchmarshall commented on #8
Hi Virl  thanks for releasing this!

Given the projects current state would it be possible to send voice data over the connection?  I'm interested in using this to make a local walkie talkie type application.

[2018-01-08 03:38] virl commented on #8
It should be possible, but underlying mobile OS uses tcp-like connection, so I don’t know how good latency would be.

[2018-01-09 02:18] butchmarshall commented on #8
That's great @virl!

I'm trying to use [react-native-webrtc](https://github.com/oney/react-native-webrtc) for the connections but don't even know where to get started with this library to allow the devices to discover one another?

Do you have any pointers to get me started?

[2018-01-18 13:19] weswes opened #29 "React native link"
Why "react native link react-native-bluetooth-cross-platform" doesn't link the module automatically ?

[2018-01-29 06:32] pttd1304 commented on #8
Hi @virl !
Can you give us some instructions on how to use the library? Like where I should start or something.
A sample project would be great.

[2018-01-29 16:26] virl commented on #8
@pttd1304 Hi. Library's github repo contains sample project that transfers arbitrary bytes.

[2018-01-29 16:31] pttd1304 commented on #8
@virl Hey. Can you provide a link to the sample project, please? I cannot find it anywhere. Many thanks.

[2018-01-29 16:32] virl commented on #8
@pttd1304
https://github.com/udark/underdark-cocoa/
https://github.com/udark/underdark-android/

[2018-01-29 16:36] pttd1304 commented on #8
@virl Thank you. I thought it was a sample project for react native underdark. How should I start a project with react native underdark library?

[2018-01-29 16:37] virl commented on #8
@pttd1304 Sorry, React native support for it is not my project.

[2018-01-29 16:41] pttd1304 commented on #8
@virl Oh. So may I ask what this react native bluetooth crossplatform is for, and how I can utilize this library.

[2018-01-29 16:43] virl commented on #8
@pttd1304 It is not my project, so I guess you should not ask that from me. :)

[2018-01-29 16:47] pttd1304 commented on #8
@virl Ok. Thanks for the support. Time to get my hands dirty then.

[2018-03-02 13:49] fterradev commented on #23
So after this "workaround" we get:

Execution failed for task ':app:transformClassesWithDexForDebug'.

, right?

[2018-03-07 18:35] AhadCove opened #30 "NSInternalInconsistencyException. This is probably because you've explicitly synthesized the bridge in NetworkManager, even though it's inherited from RCTEventEmitter."
I'm running into an error with a simple new react native app. The only thing that i'm doing is broadcasting the wifi and the app crashes using ios with this error. I still haven't tried it with Android yet

[code]

[2018-03-10 02:38] Progoogler opened #31 "How to complete step two of the iOS installation process"
Sorry for the noob question. Xcode has always been a foreign beast for me to tame. Can someone please quickly explain how I would add the files from `./node_modules/react-native-bluetooth-cross-platform/ios/react-native-bluetooth-cross-platform` to my project?

Does this mean that I should create a `ReactNativeBlueToothCrossPlatform.xcodeproj` in my project's `library` and put all those files in t

[2018-03-10 03:35] Progoogler commented on #31
Haha... jk. This is embarrassing.. All I needed to do was go into File -> Add Files to "App" -> Select all the files within that folder and complete the rest of the installation. Wish I could delete this "issue". Anyway, this will be for public display and might save someone else a crimson blush.

[2018-03-10 03:35] #31 closed

[2018-03-10 08:48] Progoogler commented on #14
@Emilios1995 Can you please share your code for doing that? I want to be able to essentially allow `NetworkManager` to assign a custom string to `User{}` so that that one-time message can be shared between Android and iOS devices without needing to connect. This unique AppId would be the perfect vehicle for driving that string across platforms that have difficulty connecting.

[2018-03-10 08:50] virl commented on #14
@Progoogler What do you mean by AppId? In library the purpose of AppId is to isolate different apps (of different vendors) from communication with each other with incompatible application-level protocols.

[2018-03-10 16:47] Progoogler commented on #14
@virl I assumed that AppId would be a unique identifier set by calling a function on NativeManager such as `setAppId('AppName')` but instead I would use it for the purpose of setting some unique string that would be meaningful only to my application. For example, at the moment I'm modifying some things under the hood in the library so that `User.Name` is set as the name of the user instead of the

[2018-03-10 18:59] virl commented on #14
@Progoogler I’m author of underlying native library.

frameData is just packet that is sent in device-to-device connection and can have arbitrary contents.

Underlying library have no notion of users, only connection. You can implement users abstraction on top of that, if you need.
Don’t know why you want to change the library/bindings for that, unless bindings prevent you from sending packets to

[2018-03-11 05:41] virl commented on #14
@Progoogler I don’t have contributor title in this project, because this is community-driven react project that uses my library that is by itself proprietary commercial product (but with free binary version).
But I’m happy to explain any details related to work of underlying library.

My library and this project currently doesn’t support Bluetooth communication between iOS and Android due to their

[2018-03-12 04:56] Progoogler commented on #14
@viri That's so cool. I really like what you've done here. I am hoping to be able to use this library in production very soon. I just noticed that this library is missing one of those license documents. Does the underlying library being a proprietary commercial product mean that there are restrictions that I should be aware of? Of course I am hoping to make a million bucks. XD

I have had a recent

[2018-03-12 05:11] Progoogler opened #32 "iOS devices only detecting one nearby peer at a time"
This issue is happening on iOS devices. Android is able to list every nearby peer that is broadcasting.
The scenario is I have 3 iOS devices and an Android. The Android lists every one of them but each iOS device only lists one other device that it has detected. I was able to confirm this by turning off one of the iOS devices and what happened was that the other device which had originally detecte

[2018-03-12 08:46] virl commented on #32
Bluetooth on iOS 11 currently doesn't work due to iOS 11 bug. Working to fix that.

[2018-03-12 17:49] Progoogler commented on #32
I noticed that issue on your Cocoa branch. But the thing is, this is `"WIFI-BT"` mode. The devices are able to detect each other and send messages via WIFI including iOS devices, but the only problem is the iOS devices can only detect one peer until that peer stops broadcasting and only then can it detect a different peer. This makes it very difficult to select the right device to connect with whe

[2018-03-12 18:10] virl commented on #32
@Progoogler No, I haven't seen such behaviour in native version.

[2018-03-12 20:47] Progoogler commented on #32
This was a problem on the React Native side, you're right to not have seen it. Thank you for your response! @virl

[2018-03-12 20:47] #32 closed

[2018-03-12 20:50] wswoodruff commented on #32
@Progoogler What was the fix?

[2018-03-12 22:28] Progoogler commented on #32
@wswoodruff
RN: v.49.5

The fix is in the new PR. It just stops the loop from returning before it gets a chance to add the new user.

[2018-03-14 06:24] Progoogler opened #36 "Attempt to invoke virtual method 'void java.util.Timer.cancel()' on a null object reference"
NetworkManager.js
[code]
 NetworkCommunicator.java
[code]
App is crashing upon calling `stopAdvertising()` with the above error but I'm certain that both "Advertise" and "Browse" are currently on when it's called. It happens after some time has passed while Advertising and Browsing. Would there maybe be a way to check first whether `broadcastTimer` is currently in progress before invoking `cancel(

[2018-03-14 06:44] Progoogler commented on #36
It seems that the problem has stopped since I've started using the check that I mentioned in the PR. Will report back here if it occurs again.

[2018-03-14 06:44] #36 closed

[2018-03-14 19:04] Progoogler commented on #30
+1 I got this error last night. It appears to be iOS only. The strange thing was that I wasn't broadcasting at the time and the app was just idle when the error was thrown. I've only gotten it once but it sufficiently crashes the app into a freeze state.

Note: It has only happened on my iPhone 6S Plus on iOS 11. Both my iPads on iOS 9 haven't experienced a similar issue.

[2018-03-14 19:16] Friendly-Robot opened #38 "Re-detecting peers after restarting broadcast requires the app to reset first"
I am unable to re-detect nearby peers after I `stopAdvertising()` and `advertise()` again later. The only way I can re-detect nearby peers is if I completely restart the app. I could persist the list of `nearbyPeers` but that defeats the purpose of having an up-to-date list of connectable devices to talk to. I'd much rather prefer a current list of detected peers each time I `browse()`.

Is there

[2018-03-14 19:59] AhadCove commented on #30
@Progoogler Really? For me it was instant, I couldn't get anywhere with this because I couldn't even test. It was this bug for Ios and then Android was a completely different major bug.
I'll come back to it at a later date, hopefully when I have time to actually contribute

[2018-03-14 22:30] Progoogler commented on #30
@AhadCove If I would venture a guess, it'd be that nearby devices are being detected right upon starting the app so `NetworkCommunicator` invokes `self.sendEvent(withName: "detectedUser", body: user.getJSUser("new user"))` without having first established the bridge. It would be difficult for me to reproduce this issue since it has only occurred once and never before or yet again for me.

I'll try

[2018-03-14 22:49] Progoogler commented on #25
You can also install via Git with `git+https://github.com/alexkendall/react-native-bluetooth-cross-platform.git` and then update your `package.json` dependencies with `"react-native-bluetooth-cross-platform": "alexkendall/react-native-bluetooth-cross-platform"`.

[2018-03-14 23:26] Progoogler commented on #16
@biks152207 You might be able to write a function inside `NetworkCommunicator` that just returns `BluetoothAdapter.getAddress()` to a function that's exported by `NetworkManager`.

More info here:
[Android BluetoothAdapter](https://developer.android.com/reference/android/bluetooth/BluetoothAdapter.html)

[2018-03-15 23:47] Friendly-Robot opened #39 "Why does stopAdvertising() and stopBrowsing() call initTransport()?"
[code]

NetworkManager in iOS does the same thing. I cannot wrap my head around the reason behind this. As I am calling `advertise()` with `"WIFI-BT"` as the default argument, I assume that `this.type == User.Peertype.ADVERTISER_BROWSER` so my application never stops broadcasting. Please correct me if I'm wrong then, but wouldn't the condition in those functions before `stopTransport()` essentiall

[2018-03-16 18:44] Progoogler commented on #30
@AhadCove Can you try adding this line inside your `NetworkManager.m ` file to see if it will stop throwing this error? The error is very sporadic for me and so far it hasn't thrown the error again yet. I would like to see if that's the same for your case.
[code]
So the file looks like this:
[code]

[2018-03-26 12:12] assemmohamedali opened #41 "can't see discovers devices"
First I have made a simple app to test this library I have two buttons one the first to advertise to make that first mobile shows to another and so the second for another device to discover (I still didn't know the idea I'm just testing) so the problem is nothing happens 👎

This my simple code below:
`
export default class App extends Component {

  constructor() {

    super();

    this.ds = new

[2018-03-26 14:45] assemmohamedali commented on #41
@iotashan @Friendly-Robot @thibmaek if anyone could help

[2018-03-26 20:19] joshbalfour commented on #30
@Friendly-Robot this fixed it for me - thank you!

[2018-03-28 10:56] vimalathiyagu commented on #22
@virl Hello. I have a quick question. I am testing between iphone 5s - iOS 11 + and iphone 4s - ios 9.3.5
The Wifi is Off and Bluetooth is on. But the devices are not getting detected. Is there an issue with the library. It work only when Wifi is on. Only Bluetooth between iphones are not working.
Kindly let me know if this is a known issue. Is this fixed or is it apple issue. Thanks.

[2018-03-28 13:44] vimalathiyagu opened #42 "iPhone to iPhone detection is not working when BT is ON and WIFI is OFF"
I have integrated this library for a react native project, I have to connect Android to Android, iOS to iOS over BT on and exchange data. I have tested for Android and only with BT on and Wifi off it works fine.
But iOS works fine only with Wifi on and BT on. If Wifi is OFF and BT is ON then they are not getting detected.

Is this a restriction or does the library support iphone to iphone detectio

[2018-03-28 17:58] wowzaaa opened #43 "ble support"
Hey

Does this lib support ble?

Thanks

[2018-03-28 22:10] joshbalfour commented on #42
Am also seeing this

[2018-03-28 22:21] joshbalfour commented on #30
ok the above didn’t consistently fix the issue for me *but* I was able to reliably fix it by refactoring to using a singleton approach: https://github.com/joshbalfour/react-native-bluetooth-cross-platform/commit/29a23b6c15d8fc163f32e228a5ed1486ccbc6ba6
I’ll do a PR and fix my breaking change on android (I renamed the native event listener) tomorrow.
I’m not a swift programmer so there might be a m

[2018-03-28 22:21] virl commented on #42
Bluetooth on iOS 11 currently is not working due to iOS 11 bugs. Working to fix that.

[2018-03-28 22:27] joshbalfour commented on #42
@virl thanks! Big fan of your work on underdark - awesome lib - would have no idea where to start with all this otherwise 😂👍

[2018-03-28 22:27] virl commented on #42
@joshbalfour Thanks.

[2018-03-29 12:28] MichaelFBA commented on #8
@virl
Query about WIFI connections, do users need to connect / pair to each other to pass information between the mesh network?

[2018-03-29 14:16] MichaelFBA commented on #8
@virl
Just a couple of quick questions re: WIFI connections
1. Is there a limit to the number of users connected?
2. Once I am connected to a number of users are we using the same IP range on the adhoc network?

[2018-03-30 12:57] virl commented on #8
@MichaelFBA
1. For Wi-Fi connections, its OS socket fd limit (thousands in same network).
2. Adhoc is not supported on stock Android and my library doesn't use it. For Wi-Fi it connect only in same Wi-Fi LAN Access Point.

[2018-03-31 02:35] virl commented on #22
@vimalathiyagu Hello. Currently Bluetooth with iOS 11 doesn't work due to iOS 11 bugs. I'm currently implementing workaround.

More on that here: https://github.com/udark/underdark-cocoa/issues/10

[2018-03-31 11:05] michaeldanielbell commented on #8
@virl
Thanks for clearing that up. I was under the impression we could use your library without an intermediary access point as I think that's where the real magic happens.

I noticed Android has Wifi Direct, is this something you could use?
https://developer.android.com/guide/topics/connectivity/wifip2p.html

[2018-03-31 11:36] virl commented on #8
@michaeldanielbell No, Wi-Fi Direct on Android doesn't work because it is bugged beyond repair.

[2018-03-31 16:26] vimalathiyagu commented on #42
Thanks @virl. Your library has helped my application, just that now i am stuck with this ios bt-bt issue.
Hope to get your fix at the earliest.

[2018-04-06 16:54] mproctor340 commented on #21
@sairamaraov did you resolve this issue?> I am having the same one

[2018-05-07 19:18] ashmortar opened #46 "android discovery not working"
I have set up a project in react-native and am trying to locate peers and advertise via bluetooth but when i getNearbyPeers the array returned is always empty. Are there any examples of how this is supposed to work?

[2018-05-08 01:04] vimalathiyagu commented on #43
@virl : Can you clarify on this. if the library support BTLE...

[2018-05-08 12:49] virl commented on #43
@vimalathiyagu It uses BLE for handshake and classic Bluetooth for transfer.

[2018-05-10 20:03] rynatk commented on #31
I was also stuck on this one @Friendly-Robot. I got around it by dragging and dropping the files from my finder into the Xcode application.

[2018-05-16 07:58] Unforgiven-wanda commented on #46
This is how I personally go about it:
[code]

I have to check the user object because sometimes it would return an `undefined`
The action dispatched just logs the new discovered user somewhere in my app.

[2018-07-31 10:00] vimalathiyagu commented on #46
@virl I am also facing the same issue. I am using android 8 and only when wifi is turned on (But no internet) along bluetooth only then discovery works. It is not working only with bluetooth alone. Previously only bluetooth was working fine on android versions below 8.

Is there any specific handling to be done for devices above Android 7. Kindly clarify.

[2018-07-31 10:42] virl commented on #46
@vimalathiyagu Currently Bluetooth discovery and communication are not supported when both devices are Android 8+.

[2018-07-31 13:30] vimalathiyagu commented on #46
Thanks @virl

[2018-08-12 02:48] wolfag opened #47 "Failed to resolve: io.underdark:underdark:1.+"
I get a error (_Failed to resolve: io.underdark:underdark:1.+_) after I config by the [link](https://github.com/alexkendall/react-native-bluetooth-cross-platform/blob/master/android-installation.md).
Can you help me to solve this issue?
Thank you.

[2018-10-27 05:44] bharadwajpro opened #49 "How do I retrieve incoming messages?"
The `addReceivedMessageListener(callback)` takes a callback function which returns only `id, type, connected, display name` according to documentation. Then how do I retrieve the incoming message?

[2018-11-05 17:31] IamStephan commented on #47
https://github.com/alexkendall/react-native-bluetooth-cross-platform/issues/10#issuecomment-307886632

[2018-11-16 07:02] tonmanayo commented on #46
@virl will bluetooth be working again anytime soon?

[2018-11-16 19:05] christanfoden opened #51 "Native module cannot be null"
This is the error message I receive when I call `let BluetoothCP = require("react-native-bluetooth-cross-platform");` in my component.

An example of how to implement the library in a react native would be really helpful.

[2018-12-24 13:17] HZSamir commented on #38
+1

[2019-01-08 14:00] MaksymilianWojcik commented on #42
@vimalathiyagu  hey could share a little bit of code how to connect 2 android phones? I would be really gratefull

[2019-01-08 20:39] MaksymilianWojcik opened #52 "Communication between android and iOs"
Hello,
I am trying to get it working for an android 8.1 and iOs 12.1 phones with just bluetooth. Do you know if it's possible for those os versions? It works via WIFI, but not with just bluetooth so I am wondering if I am doing something wrong, or it's not supported

Thanks and best regards

[2019-01-08 20:45] MaksymilianWojcik commented on #46
hey @virl is there any update on 8+ versions issue?

[2019-04-15 15:47] qayyummdnoor commented on #41
Does anyone solve this? i get empty array instead. @assemmohamedali @Friendly-Robot

[2019-04-21 08:03] azanli commented on #38
@Unforgiven-wanda #55

[2019-04-21 08:03] #38 closed

[2019-04-21 08:04] #39 closed

[2019-09-27 20:59] EthanCannoy commented on #49
The callback actually returns many more fields. Inside of the returned user object is a message field.

`
_recievedMessage(user) {
  console.log('message received: ', user.message);
}
`

[2020-04-27 11:14] TylerIlunga opened #57 "Code Signing Issues using fastlane (ProtocolBuffers.framework IOS)"
Using fastlane to submit a new build (such as running "fastlane ios beta" if you are using the default Fastfile), you run into a code signing issue when attempting to sign the "ProtocolBuffers.framework".

For those who ran into the same issue, [this solution is a workaround](https://github.com/fastlane/fastlane/issues/13401#issuecomment-423763525). Hope this helps anyone who faces a similar issue

[2020-05-25 13:26] mrousavy opened #59 "⚠️ [Meta] React Autolinking, Types (TypeScript) and deprecated code"
1. Since react native modules have evolved pretty quickly, it is very bad practice to let the library consumer manually move files, link frameworks and set other things up. Instead, [autolinking](https://github.com/react-native-community/cli/blob/master/docs/autolinking.md) should be used for this process.

2. Also, plain old JavaScript libraries are pretty hard to use, that's why there should be

[2020-06-11 15:18] hajermay commented on #51
@christanfoden  did find a solution ??

[2020-06-11 15:25] hajermay commented on #42
@vimalathiyagu  please can u show me exemple how do you implement this solution ?

[2020-06-11 15:33] hajermay opened #60 "I need a work exemple please"

[2021-05-04 08:22] Awnage commented on #10
The server that underdark relies on (jFrog bintray) is being shut off. Expect builds to fail once your network cache clears.

[2021-06-04 09:57] savitaraghuvanshi opened #61 "Any one have test example for it ?"
Any one have test example for it ? if yes kindly please share .

[2021-06-04 16:31] savitaraghuvanshi commented on #10
I tried above and did not work for me , any solution for this issue , even i am getting 403 . > Could not GET 'https://dl.bintray.com/underdark/android/io/underdark/underdark/maven-metadata.xml'. Received status code 403 from server: Forbidden

[2021-06-04 17:47] alexkendall commented on #61
@savitaraghuvanshi This library hasn't been maintained in years. I would suggest using another one to be honest.

[2021-06-07 08:40] savitaraghuvanshi commented on #61
@alexkendall Thanks for your response .
**"My goal is to transfer msg between 2 mobile devices in offline mode"  cross platform** android to iOS and iOS to android .
 I tried some Bluetooth react native libraries  but they **does not** work  **cross platform .** while they are ok android to android and ios to ios .

Other option I wanted to try is using WIFI hotspot but again I could not find any

[2022-02-07 11:04] HZSamir commented on #10
@Awnage I came back to an old project to be confronted by this issue. Is there any way to fix this?

[2022-02-07 13:56] Awnage commented on #10
@Unforgiven-wanda I managed to find an old copy of the files and placed them on an internal server. I modified the maven path to look for the files there instead of out on bintray. Alas I no longer work for my previous company so I don't have access to the specific files anymore.

[2022-02-28 01:16] whatnottodo commented on #61
@savitaraghuvanshi did you end up finding a solution?